/* --- configuraciones gobales --- */
h1,
h2,
p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    margin: 0;
    background-color: white;
    overflow-y: scroll;
}

/* --- navbar start --- */
.navbar {
    margin: 0;
    padding: 0.8rem 3rem;
    background: rgb(16, 23, 43);
    border-bottom: 1px solid #374151;
    position: sticky;
    top: 0;
    z-index: 20;
    box-shadow: 0px 10px 40px 0px rgba(40, 40, 40, 0.45);
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    max-width: 1536px;
    margin: 0 auto;
}

.navbar .logo {
    display: flex;
    align-items: center;
}

.navbar .logo-img {
    height: 2.26rem;
}

.navbar .menu {
    width: auto;
}

.navbar .menu ul {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    padding-right: 1rem;
}

.navbar .menu ul li {
    padding-left: 2.15rem;
    list-style: none;
}

.navbar .menu ul li a {
    color: white;
    font-size: 1rem;
    font-family: sans-serif;
}

.navbar .menu ul li.active a {
    color: #67E8F9;
}

/* .navbar .menu ul li:nth-child(1) a {
    color: #67E8F9;
} */

/* --- navbar end --- */



/* --- section inicio - start --- */
#inicio {
    padding-top: 2.25rem;
    overflow: hidden;
}

#inicio .container {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;

    /* background-color: #67E8F9; */
    display: grid;
    padding: 2rem 1.5rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    max-width: 70rem;
    margin: 0 auto;
}

#inicio .container .container-text {
    margin: 0;
    padding: 0;
}

#inicio .container .text {
    font-family: 'SF Mono', sans-serif;
    /* border: 1px solid #000; */
    text-align: start;
}

#inicio .container #inicio-slide-title {
    color: white;
    font-size: 2.2rem;
    line-height: 2.5rem;
    margin: -4px -2px;
    padding: 0;
    font-weight: 700;
}

#inicio .container #inicio-slide-subtitle {
    color: #EAB308;
    font-size: 1.5rem;
    line-height: 2rem;
    margin: -4px -2px;
    padding-top: 1.70rem;
    font-weight: 700;
}

#inicio .container .container-button {
    display: flex;
    flex-direction: row;
    margin-top: 3.5rem;
}


#inicio .container .container-button a span {
    border-radius: .5rem;
    padding: 0.7rem 2.3rem;
    border: 2px solid rgb(159, 35, 97);
    color: white;
    background-color: black;
    font-family: sans-serif;
}

#inicio .container .container-button a span:hover {
    background: rgb(168, 85, 247);
    background: linear-gradient(145deg, rgba(168, 85, 247, 1) 0%, rgba(236, 72, 153, 1) 100%);
}


#inicio .container .container-button div.icon-container{
    animation: hand-move 2s ease-in-out infinite;
    margin-top: -.5rem;
}

#inicio .container .container-button span.icon-hand{
    font-size: 1.5rem;
    margin-left: 1rem;
}

@keyframes hand-move{
    0%,100% {
      transform: translateX(10px);
    }
  
    50% {
      transform: translateX(-10px);
    }
  }

#inicio .container .image-person-computer {
    display: flex;
    justify-content: end;
}

#inicio .container .image-person-computer img {
    height: 20rem;
}

/* --- section inicio - end --- */


/* --- section inicio - waves - start --- */
#inicio .container-waves {
    position: relative;
    margin-top: 4rem;
}

#inicio .container-waves .waves {
    position: relative;
    width: 100%;
    height: 100px;
    margin-bottom: -10px;
}

.waves .parallax use {
    animation: moveForever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes moveForever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

/* --- section inicio - waves - end --- */


/* --- section inicio - bubbles - end --- */
#background-wrap {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 5;
    opacity: 0.7;
}

.bubble {
    border-radius: 50%;
    box-shadow: 0 20px 30px rgb(0 0 0 / 0.2), inset 0px 10px 30px 5px rgb(237, 237, 237);
    height: 150px;
    width: 150px;
    opacity: 0;
    position: absolute;
}

.bubble:after {
    /* display: none; */
    background: radial-gradient(circle, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
    border-radius: 50%;
    /* box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3); */
    content: "";
    height: 130px;
    left: -10px;
    position: absolute;
    width: 180px;
}


@keyframes animateBubble {
    0% {
        margin-top: -150px;
    }

    1% {
        opacity: 1;
    }

    100% {
        margin-top: -100%;
        transform: scale(2);
    }
}

@keyframes sideWays {
    0% {
        margin-left: -50px;
    }

    100% {
        margin-left: 50px;
    }
}

/* --- section inicio - bubbles - end --- */


/* --- section servicios - start --- */
#servicios {
    padding-top: 3.75rem;
    background-color: #F3F4F6;
}

#servicios .container {
    padding: 2rem 1.5rem;
    width: 70rem;
    margin: 0 auto;
}

#servicios .container>h1 {
    margin-bottom: 3rem;
}

#servicios .container .servicios-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    padding-bottom: 2.5rem;
}

#servicios .container .servicios-items .item {
    background-color: #06318e;
    display: flex;
    margin-bottom: 15px;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 310px;
    height: 550px;
    border-radius: 20px;
    border-bottom-left-radius: 160px;
    border-bottom-right-radius: 160px;
    box-shadow: 0 15px 0 #fff, inset 0 -15px 0 #4262A9, 0 45px 0 #CFD0D1;
    overflow: hidden;
}

#servicios .container .servicios-items .item::before {
    content: "";
    position: absolute;
    top: -140px;
    left: -40%;
    padding: 0;
    width: 100%;
    height: 120%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2));
    transform: rotate(35deg);
    filter: blur(5px);
}

#servicios .container .servicios-items .item .icon {
    position: relative;
    padding-top: 15px;
    width: 140px;
    height: 105px;
    background: #F3F4F6;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    box-shadow: 0 15px 0 rgb(0 0 0 / 10%), inset 0 -8px 0 #fff;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#servicios .container .servicios-items .item .icon::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-top-right-radius: 50px;
    box-shadow: 15px -15px 0 15px #F3F4F6;
}

#servicios .container .servicios-items .item .icon::after {
    content: "";
    position: absolute;
    top: 0;
    right: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-top-left-radius: 50px;
    box-shadow: -15px -15px 0 15px #F3F4F6;
}

#servicios .container .servicios-items .item .content {
    position: absolute;
    width: 100%;
    padding: 30px;
    padding-top: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: .5rem;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}

#servicios .container .servicios-items .item .content .content-text {
    height: 19rem;
    font-family: 'SF Mono', sans-serif;
    color: #fff;
}

#servicios .container .servicios-items .item .content .content-text h2 {
    font-size: 1.8em;
    line-height: 2.9rem;
    margin: 0;
    font-weight: 400;
}

#servicios .container .servicios-items .item .content .content-text p {
    text-align: justify;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    margin: -.3rem;
    padding: 0 .3rem;
    /* font-weight: 400; */
}

#servicios .container .servicios-items .item .content .content-button .btn-service {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.625rem 1.25rem;
    border-radius: 0.5rem;
    background: rgb(147, 51, 234);
    background: linear-gradient(160deg, rgba(147, 51, 234, 1) 0%, rgba(59, 130, 246, 1) 100%);
    font-size: 0.875rem;
    color: #fff;
}

#servicios .container .servicios-items .item img {
    width: 5rem;
    height: 4rem;
}

/* --- section servicios - end --- */


/* --- section clientes - start --- */
#clientes {
    padding: 3rem 0;
}

#clientes .container {
    padding: 2rem 1.5rem;
    width: 70rem;
    margin: 0 auto;
}

#clientes .container h1 {
    margin-bottom: 3rem;
}

#clientes .container .clientes-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    gap: 5rem 5rem;
}

#clientes .container .clientes-items .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#clientes .container .clientes-items .item img {
    height: 7rem;
    width: 7rem;
    border-radius: 9999px;
    object-fit: cover;
    object-position: center;
}


#clientes .container .clientes-items .item span {
    max-width: 8rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: sans-serif;
    color: #6B7280;
}

/* --- section clientes - end --- */


/* --- section contacto - start --- */
#contacto {
    padding-top: 10rem;
}

#contacto .container {
    padding: 2rem 1.5rem;
    width: 70rem;
    margin: 0 auto;
}

#contacto .container .titles {
    text-align: center;
    /* margin-bottom: 3rem; */
}

#contacto .container .contacto-items {
    padding-top: 6rem;
    padding-bottom: 4rem;
    display: flex;
    justify-content: center;
    column-gap: 3.5rem;
}

#contacto .container .contacto-items .card {
    padding: 1.75rem 1.25rem;
    background-color: #F9FAFB;
    width: 20rem;
    height: 20rem;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
    color: #69707E;
    box-shadow: 0px 10px 40px 0px rgba(166, 166, 166, 0.75);
}


#contacto .container .contacto-items .card>h1 {
    font-family: sans-serif;
    font-weight: 100;
}

#contacto .container .contacto-items .card>hr {
    border-top: 2px solid;
}

#contacto .container .contacto-items .card .card-content {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1.5rem;
}

#contacto .container .contacto-items .card .card-content .content-data {
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

#contacto .container .contacto-items .card .card-content .content-data span {
    font-size: 1rem;
    line-height: 1.75rem;
    font-family: sans-serif;
}

#contacto .container .contacto-items .card .card-content .content-data img {
    height: 1.5rem;
}

#contacto .container .contacto-items .map iframe {
    box-shadow: 0px 10px 40px 0px rgba(166, 166, 166, 0.75);
}

/* --- section contacto - end --- */


/* --- footer - start --- */
footer {
    padding: 1.5rem;
    background-color: #1F2937;
    display: flex;
    box-sizing: border-box;
    color: #b2b2b2;
    text-align: center;
}

footer p {
    width: 100%;
}

/* --- footer - end --- */


/* helpers */
.bg-gradiente-purple {
    background: linear-gradient(90deg, rgba(16, 23, 43, 1) 0%, rgba(84, 28, 129, 1) 50%, rgba(16, 23, 43, 1) 100%);
}

.font-color-yellow {
    color: #EAB308;
}

.title-font {
    font-family: 'Scheherazade New', sans-serif;
    font-weight: 200;
    color: #36404F;
}

.title-section {
    font-size: 2.50rem;
    line-height: 2.5rem;
    text-align: center;
}


.x1 {
    animation: animateBubble 10s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation-delay: 3s;
    left: -5%;
    top: 5%;
    transform: scale(0.15);
}

.x2 {
    animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    animation-delay: 7s;
    left: 5%;
    top: 80%;
    transform: scale(0.2);
}

.x3 {
    animation: animateBubble 19s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation-delay: 1s;
    left: 10%;
    top: 40%;
    transform: scale(0.1);
}

.x4 {
    animation: animateBubble 17s linear infinite, sideWays 3s ease-in-out infinite alternate;
    animation-delay: 2s;
    left: 20%;
    top: 0;
    transform: scale(0.05);
}

.x5 {
    animation: animateBubble 18s linear infinite, sideWays 4s ease-in-out infinite alternate;
    animation-delay: 4s;
    left: 30%;
    top: 50%;
    transform: scale(0.15);
}

.x6 {
    animation: animateBubble 16s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation-delay: 5s;
    left: 50%;
    top: 0;
    transform: scale(0.1);
}

.x7 {
    animation: animateBubble 10s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation-delay: 7s;
    left: 65%;
    top: 70%;
    transform: scale(0.2);
}

.x8 {
    animation: animateBubble 15s linear infinite, sideWays 3s ease-in-out infinite alternate;
    animation-delay: 5s;
    left: 80%;
    top: 10%;
    transform: scale(0.15);
}

.x9 {
    animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    animation-delay: 4s;
    left: 90%;
    top: 50%;
    transform: scale(0.05);
}

.x10 {
    animation: animateBubble 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation-delay: 5s;
    left: 80%;
    top: 80%;
    transform: scale(0.2);
}